body{
    background:#ffffff;
} 

/* Navbar */

nav{
    background-color: #000;
}

nav .container li a, .navbar-brand{
    color: #ffffff;
}
nav .container li a:hover{
    color: #ffffff;
}

.navbar-brand:hover{
    color: #ffffff;
}
.navbar-nav{
    display: flex;
    align-items: center;
}

/* index */

.card{
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

/* producto */

.rowpdt{
    width: max-content;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.rowpdt .imagen img{
    width: 500px;
    height: 400px;
    object-fit: cover; 
}

/* carrito */

.alert{
    background-color: #e4e4e4;
    border: none;
    color: #000;
}

.tablas{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
}

.tablas h4{
    margin-bottom: 20px;
}

.tablas .tabla1, .tabla2{
    width: 700px;
}

.tabla1 table thead th{
    background-color: #000;
    color: #ffffff;
}

.tabla2 table thead th{
    background-color: #000;
    color: #ffffff;
}